body {
    color: #e1d1af;
    background-color: #816038;
}

img {
    height: 500px;
    width: auto;
}

h1, h2 {
    color: #cd9858;
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2em;
}

h3, p, li {
    font-size: 1.5em;
}

.faint {
    font-size: 0.6em;
    color: #aea187;
}

a {
    color: #e2b463;
}