*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #ffc0cb;
    color: white;
    margin: 0;
    padding: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    flex: none;
    align-self: flex-start;
}

.recipe {
    flex: auto;
    background-color: #e5aab5;
    border-radius: 7.5px;
    min-width: 600px;
    max-width: 1000px;
    width: 100%;
    padding: 5px;
}

.title {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
}

.body-size {
    font-size: 1.5em;
}

a {
    color: #cc99a2;
    display: inline-block;
    width: fit-content;
}

.recipe .recipe-child {
    width: fit-content;
    margin: 10px auto;
}

.recipe .recipe-child:first-child {
    margin-top: 0;
}

.recipe .recipe-child:last-child {
    margin-bottom: 0;
}